.header {
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(43, 52, 103, 0.2);

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  &__title-link {
    font-size: 2rem;
  }

  &__title {
  }

  &__nav-items {
    display: flex;
    gap: 4rem;
  }

  &__nav-item {
  }

  &__nav-link {
  }

  &__profile-btn {
    border: 1px solid #eb455f;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5 ease-in;
  }

  &__profile-btn:hover {
    background-color: #eb455f;
  }

  &__profile-svg {
    width: 32px;
    height: 32px;
    fill: #eb455f;
    transition: all 0.5 ease-in;
  }

  &__profile-btn:hover &__profile-svg {
    fill: #fff;
  }
}
